:root {
  --primary-bg: #d8f5d0;
  --secondary-color: #ffffff;
}

body {
  background-color: var(--primary-bg);
  color: #000;
}

.secondary {
  background-color: var(--secondary-color);
  color: #000;
}
.navbar,
.footer {
  background-color: var(--secondary-color);
}

.custom-card {
  background-color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

h1,
h2,
h3 {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif, bold;
}
body {
  font-family: "Inter", sans-serif;
}

.navbar-brand img {
  max-height: 70px;
  height: auto;
  width: auto;
}

body {
  padding-top: 100px;
}

.custom-img {
  max-width: 400px;
  width: 100%;
  height: auto;
}

section {
  padding-top: 110px;
  margin-top: -80px;
}

.custom-jumbo {
  background-color: #ccffcc;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.highlighted-section {
  background-color: #e8ffe8;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.equal-section {
  min-height: 70vh; /* Gives the section presence */
  display: flex;
  align-items: center; /* Vertically centers the content */
}
.equal-cols {
  display: flex;
  align-items: stretch; /* Makes both columns equal height */
}
.equal-cols > div {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content inside each column */
}
