:root {
  --primary-bg: #d8f5d0; /* pale green */
  --secondary-color: #ffffff; /* white */
}

body {
  background-color: var(--primary-bg);
  color: #000; /* keep text readable */
}

.secondary {
  background-color: var(--secondary-color);
  color: #000;
}
.navbar,
.footer {
  background-color: var(--secondary-color);
}

.custom-card {
  background-color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); /*shadow */
}

h1,
h2,
h3 {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif, bold;
}
body {
  font-family: "Inter", sans-serif;
}

.navbar-brand img {
  max-height: 70px;
  height: auto;
  width: auto;
}

body {
  padding-top: 100px;
}

.custom-img {
  max-width: 400px; /* adjust to your preferred size */
  width: 100%; /* keeps it responsive */
  height: auto; /* preserves aspect ratio */
}

section {
  padding-top: 110px;
  margin-top: -80px;
}

.custom-jumbo {
  background-color: #ccffcc; /* bright pale green */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25); /* noticeable dropdown shadow */
}

.highlighted-section {
  background-color: #e8ffe8; /* soft pale green */
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
